.DS_Store
OoyalaSDK-Android.zip
test_results.txt
*.class
*/javadoc
*/bin
*/tests/bin
*/gen
*/tests/gen
*/local.properties
**/lint.xml
sample-apps/*/local.properties
sample-apps/keys
sdk/Documentation
sdk/*/bin
sdk/*/gen
sdk/*/local.properties
sample-apps/*/bin
sample-apps/*/gen
vendor/VisualOn/SamplePlayer/bin
vendor/VisualOn/SamplePlayer/gen
.metadata/*
.settings
