[submodule "submodules/mobile_sdk_build_packaging_scripts"]
	path = submodules/mobile_sdk_build_packaging_scripts
	url = http://github.services.ooyala.net/playback-app/mobile_sdk_build_packaging_scripts
[submodule "submodules/android_sample_apps"]
	path = submodules/android_sample_apps
	url = https://github.com/ooyala/android-sample-apps.git
