[submodule "submodules/mobile_sdk_build_packaging_scripts"]
	path = submodules/mobile_sdk_build_packaging_scripts
	url = git@github.services.ooyala.net:playback-app/mobile_sdk_build_packaging_scripts
