.DS_Store
OoyalaSDK-Android.zip
*.class
*/javadoc
*/bin
*/tests/bin
*/gen
*/tests/gen
*/local.properties
sdk/Documentation
sdk/*/bin
sdk/*/gen
sdk/*/local.properties
sample-apps/*/bin
sample-apps/*/gen
