[submodule "submodules/mobile_sdk_build_packaging_scripts"]
	path = submodules/mobile_sdk_build_packaging_scripts
	url = http://github.services.ooyala.net/playback-app/mobile_sdk_build_packaging_scripts
[submodule "submodules/android_sample_apps"]
	path = submodules/android_sample_apps
	url = https://github.com/ooyala/android-sample-apps.git
[submodule "vendor/CastCompanionLibrary"]
	path = vendor/CastCompanionLibrary
	url = https://github.com/googlecast/CastCompanionLibrary-android.git
[submodule "vendor/ExoPlayer"]
	path = vendor/ExoPlayer
	url = https://github.com/google/ExoPlayer.git
